*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: #555;
}
body{
    height: 100vh;
    overflow: hidden;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav{
    display: flex;
    justify-content:space-between;
    padding: 20px 10px;
    height: 60px;
}
ul{
    display: flex;
   
    list-style-type: none;
    align-items: center;

}
li{
    text-align: center;
    padding: 14px 12px;

}
a{
    text-decoration: none;
}
li a:hover{
    text-decoration: underline;
}
.small-text{
    font: size 0.9rem;;
}
.menu-bg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    
}
.menu-bg:hover{
    background-color: #d8d8d8;
    cursor: pointer;
}
.menu-button{
    width: 15px;
}
.profile-pic{
    margin-top: 6px ;
    border-radius: 50%;
    width: 100%;
}
.search-wrapper{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    position: relative;
    margin-top: 30px;
}
input{
    height: 45px;
    width: 500px;
    padding-left: 50px;
    font-size: 1.2rem;
    border-radius: 45px;
    border: 1px solid #d3d3d3;
}
input:hover{
    box-shadow: 0 1px 3px 1px rgba(201, 201, 201, 0.5);
}
input:focus{
    outline: none;
}
.search{
    width: 20px ;
    position: absolute;
    top: 15px;
    left: 20px;

}
.mic{
    width: 20px;
    position: absolute;
    top: 9px;
    left: 460px;
}
button{
    border: 1px solid transparent;
    padding: 8px 10px;
    background-color: #f8f9fa;
    border-radius: 6px;
}
button:hover{
    border: 1px solid #eee;
    box-shadow: 0 0 2px 2px rgba(189, 189, 189, 0.5);
    cursor: pointer;
}
.buttons{
    width: 350px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
footer{
    width: 100%;
    background-color: #f2f2f2;

    
}
/* .panel > * {
    flex-basis: 33%;
}    */
.panel{
    border: 1px solid #d3d3d3;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}
.carbon{
    display: flex;
    justify-content:space-between;
}
p{
    padding-left: 10px;
}
.leaf{
    width: 10px;
    
}
.right{
    justify-content: flex-end;
}